name: Refresh Dependencies

permissions:
  contents: write

on:
  workflow_dispatch:
  # Cron every day at 7:00 AM  which is UTC 7:00 / 8:00 AM CET depending on daylight saving time
  schedule:
    - cron: '0 6 * * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false


jobs:
  refresh:
    name: Refresh Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
          cache: pip
          cache-dependency-path: |
            requirements.txt
            constraints.txt

      - name: Refresh Dependencies
        run: |
          pipx run --spec pip-tools pip-compile --strip-extras -o constraints.txt constraints.in
          pipx run --spec pip-tools pip-compile --strip-extras -o requirements.txt -c constraints.txt requirements.in
        shell: bash

      - name: Get MTS Automation App Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          owner: ${{ github.repository_owner }}
          repositories: ${{ github.event.repository.name }}
          app-id: ${{ secrets.MTS_AUTOMATION_BOT_CLIENT_ID }}
          private-key: ${{ secrets.MTS_AUTOMATION_BOT_PRIVATE_KEY }}

      - name: Update requirements.txt
        uses: mts-monitor-the-situation/github-actions/single-commit@main
        with:
          path: requirements.txt
          committer: '{{ vars.MTS_AUTOMATION_BOT_COMMITTER_NAME }}'
          committer_email: '{{ vars.MTS_AUTOMATION_BOT_COMMITTER_EMAIL }}'
          message: 'Update requirements.txt'
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Update constraints.txt
        uses: mts-monitor-the-situation/github-actions/single-commit@main
        with:
          path: constraints.txt
          committer: '{{ vars.MTS_AUTOMATION_BOT_COMMITTER_NAME }}'
          committer_email: '{{ vars.MTS_AUTOMATION_BOT_COMMITTER_EMAIL }}'
          message: 'Update constraints.txt'
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}